<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Add Employee</h1>

    <form method="POST">
        <label>Employee Name</label><br>
        <input type="text" name="employee_name" required>
        <br><br>

        <label>Email</label><br>
        <input type="email"  name="email" required>
        <br><br>

        <button type="submit">Add Employee</button>
    </form>

</body>
</html>
